<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  
  <head th:replace="~{layout/base :: head}"></head>
  
  <body>
  	<div class="container">
	  
	  <header class="row">
		<nav th:replace="~{layout/base :: navBar}"></nav>
	  </header>
	  
	  <main class="row">
		  
          <section class="col-lg-4 col-md-6 col-sm-12 p-5">
		  	
            <h3 class="text-primary">Registrar Cliente</h3>
            
            <form th:action="@{/clientes/guardar}" method="post" th:object="${clienteAInsertar}" class="needs-validation" novalidate>
            	
                <input type="hidden" th:field="*{idCliente}" />
                <input type="hidden" th:field="*{activo}" />

            	<div class="form-floating mb-3">
            		<input type="text" th:field="*{nombre}" class="form-control" id="nombreInput" placeholder="Nombre completo" required>
            		<label for="nombreInput">Nombre Completo</label>
            		<div class="invalid-feedback">Ingrese el nombre</div>
            	</div>  
            	
            	<div class="form-floating mb-3">
            		<input type="text" th:field="*{tipoCliente}" class="form-control" id="tipoInput" placeholder="Tipo de Cliente" required>
            		<label for="tipoInput">Tipo de Cliente</label>
            		<div class="invalid-feedback">Ingrese el tipo</div>
            	</div>

                <div class="form-floating mb-3">
            		<input type="text" th:field="*{lineaComercial}" class="form-control" id="lineaInput" placeholder="Línea Comercial">
            		<label for="lineaInput">Línea Comercial</label>
            	</div>

                <div class="form-floating mb-3">
            		<input type="number" th:field="*{limiteCredito}" step="0.01" class="form-control" id="limiteInput" placeholder="Límite de Crédito">
            		<label for="limiteInput">Límite de Crédito</label>
            	</div>
            	
            	<button type="submit" class="btn btn-primary">
            		<span>Guardar Cliente</span>
            	</button>
            </form>
		  </section>
          
          <section class="col-8 col-md-6 col-sm-12 p-5">
          	
            <h3 class="text-primary">Lista de Clientes</h3>
		  	
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Tipo</th>
                  <th scope="col">Límite Crédito</th>
			      <th scope="col" class="text-center">Editar</th>
			      <th scope="col" class="text-center">Anular</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="c : ${clientes}">
			      <th scope="row" th:text="${c.idCliente}">1</th>
			      <td th:text="${c.nombre}">Nombre Cliente</td>	
                  <td th:text="${c.tipoCliente}">Tipo A</td>
                  <td th:text="${#numbers.formatCurrency(c.limiteCredito)}">$ 10,000</td>
			      
			      <td class="text-center">
			      	<a th:href="@{/clientes/editar/{id}(id=${c.idCliente})}">
			      		<i class="bi bi-pencil-square text-warning"></i>
			      	</a>
			      </td>
			      
			      <td class="text-center">
			      	<a th:href="@{/clientes/eliminar/{id}(id=${c.idCliente})}"
			      		class="btn-eliminar" th:data-id="${c.nombre}">
			      		<i class="bi bi-trash text-danger"></i>
			      	</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
		  </section>
	  </main>
	  
	  <footer th:replace="~{layout/base :: footer}"></footer>
	  
      <script th:replace="~{layout/base :: bootstrapValidation}"></script>
	  <script th:replace="~{layout/base :: sweetAlerts(
        mensajeExito = ${guardadoExitoso}, 
        mensajeError = ${error}, 
        tipoItem = 'Cliente'
      )}"></script>

  </div>
  </body>
</html>