<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  
  <head th:replace="~{layout/base :: head}"></head>
  
  <body>
  	<div class="container">
	  
      <header class="row">
		<nav th:replace="~{layout/base :: navBar}"></nav>
	  </header>
	  
	  <main class="row">
		  
          <section class="col-12 p-5"> 
          	
            <h3 class="text-primary">Gestión de Planillas de Letras</h3>
		  	
			<table class="table table-striped table-hover">
			  <thead>
			    <tr>
			      <th scope="col">Factura Aso.</th>
			      <th scope="col">Numero Planilla</th>
			      <th scope="col">Tipo Gestión</th>
			      <th scope="col">Fecha Envío Banco</th>
			      <th scope="col" class="text-center">Ver Detalles</th>
			      <th scope="col" class="text-center">Anular</th>
			    </tr>
			  </thead>
			  <tbody>
                <tr th:each="p : ${planillas}">
			      <th scope="row" th:text="${p.numeroPlanilla}">PL-00001</th>
                  
                  <td th:text="${p.factura.numeroFactura}">F001-000001</td>
			      
                  <td th:text="${p.tipoGestion}">EN CARTERA</td>
                  
                  <td th:text="${p.fechaEnvioBanco != null} ? ${#temporals.format(p.fechaEnvioBanco, 'dd/MM/yyyy')} : 'N/A'">
			          N/A
			      </td>
			      
                  <td class="text-center">
			      	<a th:href="@{/planillas/ver/{id}(id=${p.idPlanilla})}">
			      		<i class="bi bi-eye-fill text-info"></i>
			      	</a>
			      </td>
			      
                  <td class="text-center">
			      	<a th:href="@{/planillas/anular/{id}(id=${p.idPlanilla})}"
			      		class="btn-eliminar" th:data-id="${p.numeroPlanilla}">
			      		<i class="bi bi-trash text-danger"></i>
			      	</a>
			      </td>
			    </tr>
			    
			  </tbody>
			</table>
		  </section>
		  
	  </main>
      
      <footer th:replace="~{layout/base :: footer}"></footer>
	  
      <script th:replace="~{layout/base :: sweetAlerts(
        mensajeExito = ${guardadoExitoso}, 
        mensajeError = ${error}, 
        tipoItem = 'Planilla'
      )}"></script>

  </div>
  </body>
</html>