<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head}"></head>
<body>
    <div class="container">
        <header class="row">
            <nav th:replace="~{layout/base :: navBar}"></nav>
        </header>
        <main class="row justify-content-center">
            <section class="col-lg-10 col-md-12 col-sm-12 p-5">
                <h2>Welcome to the Dashboard!</h2>
                <p>This is a protected page.</p>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger">Sign Out</button>
                </form>
            </section>
        </main>
        <footer th:replace="~{layout/base :: footer}"></footer>
    </div>
</body>
</html>