<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head}"></head>
<body>
    <div class="container">
        <main class="row justify-content-center">
            <section class="col-lg-10 col-md-12 col-sm-12 p-5">
                <h2>Login</h2>
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username or password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
            </section>
        </main>
    </div>
</body>
</html>